
* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

}

html {
  font-size: 62.5%;
}

.slideshow-container {
  position: relative;
  display: block;
  width: 34rem;
  height: 48rem;
  margin: 0 auto;
  background: #2E3192;
  border-radius: 2rem;
}

.slide {
  position: relative;
  display: block;
  left: 2rem;
  top: 2rem;
  width: 30rem;
  height: 40rem;
  background: black;
  border-radius: 2rem 2rem 0 0;
}

.front {
  position: absolute;
  margin: auto;
  width: 30rem;
  height: 40rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;  
  word-break: break-word;
  color: rgb(255, 255, 255);
  background: rgb(185, 143, 226);
  z-index: 1;
}

.caption {
  position: absolute;
  margin: auto;
  width: 30rem;
  height: 40rem;
  border-radius: 1rem 1rem 0 0;  
  word-break: break-word;
  color: rgb(217, 217, 217);
  background: rgb(97, 128, 214);
  visibility: hidden;
  opacity: 1;
  z-index: 2;
  transition: visibility 0s, opacity 0.5s linear;
}


.deutsch,
.turkce {
  padding: 0;
  text-align: center;
}

.deutsch h1,
.turkce h1 {
  font-size: 4.8rem;
}

.deutsch h2,
.turkce h2 {
  font-size: 3.2rem;
  padding: 0 1rem;
}

.deutsch h3,
.turkce h3 {
  font-size: 1.6rem;
}

.deutsch h6,
.turkce h6 {
  font-size: 1.6rem;
  text-align: right;
  padding-right: 1rem;
}

br {
  content: "";
  margin: 2rem;
  display: block;
}

/*ilk tiklamada caption classini görüntülemeyi saglar*/
.slide:focus .caption {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
}

/*ikinci tiklamada tekrar slide classini görüntülemeyi saglar*/
.slide:focus
{ pointer-events: none; }




.prev,
.next {
  position: absolute;
  width: 15rem;
  height: 4rem;
  bottom: 2rem;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
  transition: 0.6s ease;
  z-index: 3;
  cursor: pointer;
}

.prev {
  background: rgb(255, 103, 88);
  border-radius: 0 0 0 1rem;
  left: 2rem;
}

.next {
  right: 2rem;
  background: rgb(255, 204, 1);
  border-radius: 0 0 1rem 0;
}

.prev:hover {
  background-color: rgb(255, 83, 67);
}

.next:hover {
  background-color: rgb(255, 179, 1);
}

#counter {
  position: absolute;
  display: block;
  color: white;
  background: #2E3192;
  border-radius: 0.6rem;
  width: 5rem;
  padding: 0.3rem;
  font-size: 1.4rem;
  text-align: center;
  bottom: 3rem;
  left: 43%;
  z-index: 99;
}

.yellowfont {
  color:rgb(255, 204, 1);
  font-weight: 800;
}